@import "./repo-search/repo-search.core";
@import "./repo-search/repo-search-item/repo-search-item.core";
@import "./issues/issues.page";
h1 {
    font-size: 2.5rem;
    margin-top: 5rem;
    text-decoration: underline;
}
