@import "../vars";
$repo-search-margin-top: 6em;
$repo-search-box-padding: 0.7em 0.9em;
$repo-search-search-box-width: 14em;
$repo-search-search-box-border: 0.2rem solid $primary-accent-color;
$repo-search-search-button-color: white;
$repo-search-search-results-font-size: 1.2rem;
$repo-search-search-results-padding: 1.4em 0;
$repo-search-search-results-md-width: 70%;

repo-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $repo-search-margin-top;
    .search {
        display: flex;
        .search-box {
            padding: $repo-search-box-padding;
            width: $repo-search-search-box-width;
            border: $repo-search-search-box-border;
            &:focus {
                outline: none;
            }
        }
        .search-button {
            border-radius: 0;
            border: none;
            background-color: $primary-accent-color;
            color: $repo-search-search-button-color;
            cursor: pointer;
            &:focus {
                outline: none;
            }
        }
    }
    .repo-search-results {
        font-size: $repo-search-search-results-font-size;
        padding: $repo-search-search-results-padding;
        @media (min-width: 340px) and (max-width: 1320px) {
            width: $repo-search-search-results-md-width;
        }
    }
}
