/* You can add global styles to this file, and also import other style files */
@import "./app/vars";
@import "./app/app.component";

:root {
    font-size: 10px;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    font-weight: 200;
}

.container {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
 .button {
    display: block;
    text-decoration: none;
    color: $repo-search-item-github-link-color;
    background-color: $repo-search-item-header-color;
    padding: $repos-search-item-link-padding;
    cursor: pointer;
 }
